.idea/
.idea/workspace.xml/
.idea/.name/
.idea/JavaScript.iml/
.idea/dictionaries/alioumaiga.xml/
.idea/encodings.xml/
.idea/jsLibraryMappings.xml/
.idea/misc.xml/
.idea/modules.xml/
.idea/scopes/scope_settings.xml/
.idea/vcs.xml/
.idea/workspace.xml/
